/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", serif;
}

/* generici */

body {
    background-color: hsl(210, 46%, 95%);
}

main {
    height: 100vh;
}


/* utili */

.bottom {
    margin-bottom: 20px;
}

.opacity {
    opacity: 50%;
}

.white {
    color: hsl(0, 0%, 100%);
}

.gray {
    color: hsl(217, 19%, 35%);
}


.bg-violet {
    background-color: hsl(263, 55%, 52%);
}

.bg-gray-blue {
    background-color: hsl(217, 19%, 35%);
}

.bg-black-blue {
    background-color: hsl(219, 29%, 14%);
}

.bg-white{
    background-color: hsl(0, 0%, 100%);
}

.quotation {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: top right;
    background-repeat: no-repeat;
}

.basis-l {
    flex-basis: 60%;
}

.basis-s {
    flex-basis: 40px;

}

/* container */

.container {
    max-width: 330px;
    margin: 0 auto;
    padding: 50px 0;
}

/* card */

.card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    figure {
        display: flex;
        align-items: center;
        gap: 20px;
        
        img {
            border-radius: 50%;
        }
    }
    
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
        
    }

    

    h4 {
        font-size: 24px;
    }

}

/* media querie */

@media screen and (min-width: 992px) {
    .container {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        height: 100%;
        padding: 150px 0;

        .row {
            
            margin: 0 -20px;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            flex-grow: 1;
            .col {
                padding: 0 20px;
                
            
                

                
            }
        }

        .aside {
            flex-basis: 25%;
            flex-shrink: 0;
        }
    }
}
