/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", serif;
}

/* generici */

body {
    background-color: hsl(210, 46%, 95%);
}




/* utili */

.bottom {
    margin-bottom: 20px;
}

.opacity {
    opacity: 50%;
}

.white {
    color: hsl(0, 0%, 100%);
}

.gray {
    color: hsl(219, 29%, 14%);
}


.bg-violet {
    background-color: hsl(263, 55%, 52%);
}

.bg-gray-blue {
    background-color: hsl(217, 19%, 35%);
}

.bg-black-blue {
    background-color: hsl(219, 29%, 14%);
}

.bg-white{
    background-color: hsl(0, 0%, 100%);
}

.quotation {
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: top right;
    background-repeat: no-repeat;
}




/* container */

.container {
    padding: 50px 0;


    /* col */

    .col {
        padding: 0 20px;
        
        /* card */
        
        .card {
            margin-bottom: 30px;
            padding: 25px 30px;
            border-radius: 10px;
            text-align: left;
            figure {
                display: flex;
                align-items: center;
                gap: 20px;
                
                img {
                    border-radius: 50%;
                }
            }
            
            h2 {
                font-size: 18px;
            }
        
            h3 {
                font-size: 16px;
                
            }
        
            h4 {
                font-size: 22px;
            }
        
            p {
                line-height: 1.5;
                font-size: 13px;
            }
        
        }
    }

}


/* media querie */

@media screen and (min-width: 768px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
        
    }
}

@media screen and (min-width: 992px) {
    
    .col.basis-l {
        flex-basis: 60%
    }

    .col.basis-s {
        flex-basis: 40%;
    }
    

    .container {
        max-width: 900px;
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;


        .row{
            flex-basis: 75%;
            display: flex;
            flex-wrap: wrap;
            
            margin: -15px -20px;


            .col {
                padding: 15px 20px;
                display: flex;
                
                .card {
                    margin-bottom: 0;
                }
            }

        }

        .aside {
            flex-basis: 25%;
            .card {
                margin-bottom: 0;
            }
            
        }
    }
}

@media screen and (min-width: 1200px) {

    
    .col.basis-l {
        flex-basis: 65%;
    }

    .col.basis-s {
        flex-basis: 35%;
    }

    .container {
        max-width: 1190px;
        margin: 0 auto;

       
        .aside{
            padding: 0 25px;
        }
        
       

        
    }
}
